<extends file="basic_field.html" />
<block id="field">
    <ul>
        <li data-repeat="value">
            <span data-html="$value"></span>

            <button
                data-if="can_delete"
                type="submit"
                class="delete"
                data-attr='name: ("$" + id) + "$delete"
value: $key'>
                &cross;
            </button>
        </li>
        <li data-if="can_add">
            <input type="text" data-attr='name: ("$" + id) + "$add"' />
        </li>
    </ul>
</block>
