<extends file="basic_field.html" />
<block id="field">
    <ul>
        <li data-repeat="value">
            <span data-html="$value"></span>

            <a
                data-if="can_delete"
                type="submit"
                class="delete"
                data-attr='href: ("?request=whattheforms&cmd=method&method=delete&fieldid=" + id) + ("&method_value=" + $key)'>
                &cross;
            </a>
        </li>
        <li data-if="can_add">
            <input type="text" data-attr='name: ("$" + id) + "$add"' />
        </li>
    </ul>
</block>
