<extends file="basic_field.html" />
<block id="field">
    <dialog data-name="dialog">
        <h3 class="dialogTitle">Choose New Image</h3>
        <input type="file" data-id="file" accept="image/*" />
        <div data-if="fileSelected">
            <div class="cropper">
                <div data-id="container" class="container">
                    <div class="viewfinder">
                    </div>
                    <img data-id="rimg" data-attr="src: cropImage" />
                </div>
                <input type="range" min="0" step="0.01" max="1" value="1" data-id="zoom" />
            </div>
            <a class="button" data-id="save">Save</a>
        </div>
    </dialog>
    <div data-if="value">
        Current image: <img data-attr="src: value" />
    </div>
    <input data-$attr="name: name
        id: id" data-model="value" data-name="input" type="hidden" />
    <a class="button" data-id="changeImage">Change Image</a>
</block>
